{% extends 'home/base.html.twig' %}

{% block title %}Développeur web du rhône{% endblock %}

{% block body %}

<section class="parralax header_img">
  <div class="block_header">
    <h1>Felix Romain</h1>
    <p>Développeur web</p>
  </div>
  <img src="/build/assets/img/presentation.png" alt="maphoto" class="d-md-none">
</section>

<section class="presentation" id="presentation">
<div class="container">
  <h2>A Propos de moi</h2>
<div class="row presentation">
  <div class="col-md-8">
    <h3 class="activites">A propos de moi</h3>
    <p>
      Développeur Back-end de 23 ans, j'ai obtenu une licence de développeur, concepteurs d’applications (mobile et web). 
      J’ai également travailler sur quelques projets de mon côté pour des amis donc je suis passé par quelques étapes clés, 
      Cahier des charges, Maquette visuelle, Front-end, Back-end.
    </p>

    <h3 class="objectif">Objectif</h3>
    <p>
      Ma réussite professionnelle étant mon objectif principal, 
      je souhaite acquérir de l'expérience dans divers domaines tels que le développement d'applications moibles et webs. 
      L'informatique a toujours été une passion et je souhaite en faire mon métier.
    </p>
    <a href="mailto:felix.romain@hotmail.fr"><button><i class="fa fa-envelope"></i> Contactez-moi</button></a>
    </br>
    <a href="/build/assets/pdf/cv.pdf" download><button><i class="fa fa-download"></i> Télécharger mon cv</button></a>
  </div>
  <div class="col-md-4 d-none d-md-block">
    <img src="/build/assets/img/presentation.png" alt="maphoto" class="img-fluid">
  </div>
</div>
</div>
</section>

<section class="diplomes" id="diplomes">
  <div class="container">
    <h2>Diplômes</h2>
    <ul class="timeline  mr-3 mr-sm-0 mx-md-3">
        <!-- Formation 1 -->
        <li>
          <div class="timeline-badge warning"><i class="fa fa-book"></i></div>
          <div data-aos="fade-right" class="timeline-panel timeline-diplomes aos-init aos-animate">
            <div class="timeline-heading">
              <h4 class="timeline-title">Concepteur Développeur d'Applications (En cours)</h4>
              <p><small class="text-muted">LA MANU - Amiens Depuis le 31 Octobre 2019 (Fin prévue en octobre 2020)</small></p>
            </div>
            <div class="timeline-body">
                <p>Préparation pour l'obtention du titre professionnel de niveau III et IV « Concepteur Développeur D’applications ».</p>
            </div>
          </div>
        </li>
        <!-- Formation 2 -->
        <li class="timeline-inverted">
          <div class="timeline-badge danger"><i class="fa fa-book"></i></div>
          <div data-aos="fade-left" class="timeline-panel timeline-diplomes aos-init aos-animate">
            <div class="timeline-heading">
              <h4 class="timeline-title">Réseaux et Génie Informatique</h4>
              <p><small class="text-muted">Promeo - Beauvais De Septembre 2018 à Septembre 2019.</small></p>
            </div>
            <div class="timeline-body">
              <p>Validation du titre professionnel « Réseaux et Génie Informatique » en 1 an.</p>
            </div>
          </div>
        </li>
        <!-- Formation 3 -->
        <li>
          <div class="timeline-badge warning"><i class="fa fa-book"></i></div>
          <div data-aos="fade-right" class="timeline-panel timeline-diplomes aos-init aos-animate">
            <div class="timeline-heading">
              <h4 class="timeline-title">BTS SIO (SISR)</h4>
              <p><small class="text-muted">Lycée Jean Rostand - Chantilly De Septembre 2016 à Juillet 2018.</small></p>
            </div>
            <div class="timeline-body">
              <p>Validation du « BTS SIO » option « SISR » en 2 ans.</p>
            </div>
          </div>
        </li>
        <!-- Formation 4 -->
        <li class="timeline-inverted">
          <div class="timeline-badge danger"><i class="fa fa-book"></i></div>
          <div data-aos="fade-left" class="timeline-panel timeline-diplomes aos-init aos-animate">
            <div class="timeline-heading">
              <h4 class="timeline-title">BAC STI2D (ITEC)</h4>
              <p><small class="text-muted">Lycée Marie Curie - Nogent-Sur-Oise en 2016</small></p>
            </div>
            <div class="timeline-body">
              <p>Validation du « BAC STI2D » option « ITEC ».</p>
            </div>
        </li>
      </ul>
      </div>
  </div>
</section>






<section class="calcul">
<div class="container">
  <div class="row">
    <div class="col-md-4" >
      <img src="/build/assets/img/projets.png" alt="Projets">
      <h3>2</h3>
      <p>Projets Réalisés</p>
    </div>
    <div class="col-md-4" >
        <img src="/build/assets/img/etudes.png" alt="Etudes">
        <h3>4</h3>
        <p>Année d'études</p>
      </div>
      <div class="col-md-4" >
          <img src="/build/assets/img/articles.png" alt="Articles">
          <h3>10</h3>
          <p>Articles publiés</p>
        </div>
  </div>
</div>
</section>







<section class="experiences" id="experiences">
  <div class="container">
    <h2>Expérience</h2>
    <ul class="timeline  mr-3 mr-sm-0 mx-md-3">
        <!-- Formation 1 -->
        <li>
          <div class="timeline-badge warning"><i class="fa fa-book"></i></div>
          <div data-aos="fade-right" class="timeline-panel timeline-expérience aos-init aos-animate">
            <div class="timeline-heading">
              <h4 class="timeline-title">Développeur web junior (En cours)</h4>
              <p><small class="text-muted text-experience">MaxInfoWeb - Cires-Les-Mellos Depuis le 31 octobre 2019</small></p>
            </div>
            <div class="timeline-body">
              <ul>
                <li>Développement web back-end en PHP</li>
              </ul>
            </div>
          </div>
        </li>
        <!-- Formation 2 -->
        <li class="timeline-inverted">
          <div class="timeline-badge danger"><i class="fa fa-book"></i></div>
          <div data-aos="fade-left" class="timeline-panel timeline-expérience aos-init aos-animate">
            <div class="timeline-heading">
              <h4 class="timeline-title">Développeur web junior</h4>
              <p><small class="text-muted text-experience">Talan WorkShop - Amiens De Septembre 2018 à Septembre 2019.</small></p>
            </div>
            <div class="timeline-body">
              <ul>
                <li>Intégrateur WORDPRESS : Maintenance corrective et évolutive</li>
                <li>Intégrateur TYPO3 : Maintenance corrective et évolutive</li>
                <li>Intégrateur TYPO3 : Repreise de contenu</li>
              </ul>
            </div>
          </div>
        </li>
        <!-- Formation 3 -->
        <li>
          <div class="timeline-badge warning"><i class="fa fa-book"></i></div>
          <div data-aos="fade-right" class="timeline-panel timeline-expérience aos-init aos-animate">
            <div class="timeline-heading">
              <h4 class="timeline-title">Réassortisseur</h4>
              <p><small class="text-muted text-experience">Leclerc - Pont-Sainte-Maxence De Juillet 2017 à Août 2017.</small></p>
            </div>
            <div class="timeline-body">
              <ul>
                <li>Mise en rayon aux fruits et légumes</li>
              </ul>
            </div>
          </div>
        </li>
        <!-- Formation 4 -->
        <li class="timeline-inverted">
          <div class="timeline-badge danger"><i class="fa fa-book"></i></div>
          <div data-aos="fade-left" class="timeline-panel timeline-expérience aos-init aos-animate">
            <div class="timeline-heading">
              <h4 class="timeline-title">Technicien informatique junior</h4>
              <p><small class="text-muted text-experience">Xeler Informatique - Senlis De Janvier 2017 à Mars 2017.</small></p>
            </div>
            <div class="timeline-body">
              <ul>
                <li>Mastorisation</li>
                <li>Administration</li>
                <li>Récupération de données</li>
                <li>Maintenance</li>
              </ul>
            </div>
          </div>
        </li>
         <!-- Formation 5 -->
        <li>
          <div class="timeline-badge warning"><i class="fa fa-book"></i></div>
          <div data-aos="fade-right" class="timeline-panel timeline-expérience aos-init aos-animate">
            <div class="timeline-heading">
              <h4 class="timeline-title">Réassortisseur</h4>
              <p><small class="text-muted text-experience">Leclerc - Pont-Sainte-Maxence De Juillet 2016 à Août 2016.</small></p>
            </div>
            <div class="timeline-body">
              <ul>
                <li>Mise en rayon aux fruits et légumes</li>
              </ul>
            </div>
          </div>
        </li>
        <!-- Formation 6 -->
        <li class="timeline-inverted">
          <div class="timeline-badge danger"><i class="fa fa-book"></i></div>
          <div data-aos="fade-left" class="timeline-panel timeline-expérience aos-init aos-animate">
            <div class="timeline-heading">
              <h4 class="timeline-title">Technicien informatique junior</h4>
              <p><small class="text-muted text-experience">GHPSO - Creil en Janvier 2016.</small></p>
            </div>
            <div class="timeline-body">
              <ul>
                <li>Déploiements de postes de Windows XP à Windows 7</li>
                <li>Récupération de données</li>
                <li>Paramétrages des nouveaux postes</li>
                <li>Formation utilisateurs</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
  </div>
</section>

<section class="competences" id="competences">
  <div class="container">
    <h2>Compétences</h2>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <h3>Back-end</h3>
            <hr>
            <div>
                <h4>PHP</h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        60%
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <h3>Front</h3>
            <hr>
            <div>
                <h4>HTML</h4>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        100%
                    </div>
                </div>
            </div>
            <div>
                <h4>CSS3</h4>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        50%
                    </div>
                </div>
            </div>
            <div>
                <h4>Jquery</h4>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        60%
                    </div>
                </div>
            </div>
            <div>
                <h4>Javascript natif</h4>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                        40%
                    </div>
                </div>
            </div>
            <div>
                <h4>AJAX (Jquery)</h4>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                        80%
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <h3>Framework</h3>
            <hr>
            <div>
                <h4>Symfony 4</h4>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                    </div>
                </div>
            </div>
            <div>
                <h4>Angular 7</h4>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        50%
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <h3>Software</h3>
            <hr>
            <div>
                <h4>Visual studio code</h4>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                        80%
                    </div>
                </div>
            </div>
            <div>
                <h4>Git</h4>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                    </div>
                </div>
            </div>
            <div>
                <h4>Adobe XD</h4>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                        30%
                    </div>
                </div>
            </div>
            <div>
                <h4>Trello</h4>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        100%
                    </div>
                </div>
            </div>
            <div>
                <h4>Laragon</h4>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                      </div>
                    </div>
                </div>
            </div>
            
                  </div>
              </div>
            </div>
        </div>
    </div>
    <!--//content-->
</div>
<!--//section-inner-->
</section>



<!-- 
<section class="dernier-articles" id="dernier-articles">
<div class="container">
  <h2>Dernier Article</h2>
  <div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4">
  <img src="https://picsum.photos/350" alt="maphoto" class="img-fluid">
</div>
<div class="col-sm-12 col-md-6 col-lg-8">
  <h3>Lorem ipsum dolor </h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non officiis dignissimos voluptate, vitae ex, beatae maiores reiciendis fuga totam consectetur quo? Voluptates dignissimos architecto minus doloribus maiores, at fugiat maxime?</p>
  <h5>Lorem ipsum dolor</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non officiis dignissimos voluptate, vitae ex, beatae maiores reiciendis fuga totam consectetur quo? Voluptates dignissimos architecto minus doloribus maiores, at fugiat maxime?</p>
  <button>Voir plus de l'article</button>
  <hr>
</div>
</div>
</div>
</section> -->



<!-- <section class="projets" id="projets">
<div class="container">
  <h2>Mes projets</h2>
</div>
</section> -->






<!-- <section class="articles" id="articles">
  <div class="container">
    <h2>Catégories des articles</h2>
      <div class="row">
    <div class="col-sm-4 php">
      <a href="#presentation"><img src="build/img/php.png" alt="PHP"><b class="cercle">1</b></img></a>
    </div>
    <div class="col-sm-4 html">
        <img src="build/img/html.png" alt="HTML"><b class="cercle">2</b></img>
      </div>
      <div class="col-sm-4 css">
          <img src="build/img/css.png" alt="CSS"><b class="cercle">3</b></img>
        </div>
    </div>
        <div class="row">
      <div class="col-sm-4 wordpress">
          <img src="build/img/wordpress.png" alt="WORDPRESS"><b class="cercle">4</b></img>
      </div>
      <div class="col-sm-4 shopify">
          <img src="build/img/shopify.png" alt="SHOPIFY"><b class="cercle">5</b></img>
        </div>
        <div class="col-sm-4 git">
            <img src="build/img/git.png" alt="GIT"><b class="cercle">6</b></img>
          </div>
      </div>
      <a href="#"><button><i class="far fa-newspaper"></i> Toutes les catégories</button></a>
  </div>
</section> -->

<section id="footer" class="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>A propos de moi</h5>
            <p>Je suis développeur Back-end de 23 ans. 
            J'ai obtenu une licence de développeur, concepteurs d’applications (mobile et web).</p>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Plan du site</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="{{path('home')}}"><i class="fa fa-angle-double-right"></i>Accueil</a></li>
						<!-- <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Projets</a></li> -->
						<!-- <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Articles</a></li> -->
						<!-- <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contact</a></li> -->
						<!-- <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Plan du site</a></li> -->
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Contact</h5>
          <p>Si vous avez des questions sur mes services, ou si 
              vous voulez juste dire bonjour, n'hésitez pas à me 
              contacter. Voici mes réseaux sociaux :</p>
              <ul class="list-unstyled list-inline social">
                  <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/romain-felix/"><i class="fab fa-linkedin"></i></a></li>
                  <!-- <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-youtube"></i></a></li> -->
                  <!-- <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-twitter-square"></i></a></li> -->
                  <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/romain__felix/?hl=fr"><i class="fab fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="mailto:felix.romain@hotmail.fr" target="_blank"><i class="fa fa-envelope"></i></a></li>
              </ul>
				</div>
			</div>
				</hr>
			</div>	
		</div>
	</section>

{% endblock %}